html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("https://i.imgur.com/UwpTCnt.png");
    background-position: left bottom;
    background-attachment: fixed;
    min-width: 900px;
    min-height: 100%;
    font-family: 'Bree Serif', serif;
}
button, textarea, input {
    background: transparent;
    border: none;
    font-family: 'Bree Serif', serif;
    font-size: 1em;
}
input {
    max-width: 130px;
}
div#everything-container {
    width: 100%;
    position: fixed;
}
h1#title {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 4em;
    color: rgb(255, 94, 0);
    margin-top: 0;
}
a#plant-header {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 2em;
    color: rgb(214, 0, 214);
    text-decoration: underline;
    cursor: pointer;
}
div#collapsible {
    border-radius: 2em;
    margin: 0 auto;
    margin-top: -2.5em;
    text-align: center;
}
div#palette {
    display: inline-block; 
}
div#slidecontainer {
    display: inline-block; 
}
div#eraser {
    display: inline-block; 
}
canvas#canvas {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}
div#canvas-wrapper {
    text-align: center;
}
div#tag-form-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
div#canvas-container {
    z-index: 1;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    height: auto;
    max-height: 0;
    display: inline-block;
}
div#canvas-container.active {
    max-height: 600px;
}
div#tag-form-container {
    background-image: url("https://i.imgur.com/FHLEo23.png");
    background-repeat: no-repeat;
    background-size: 300px;
    width: 300px;
    position: absolute;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    height: 500px;
    max-height: 0;
}
div#tag-form-container.active {
    max-height: 500px;
}
textarea#tag-notes {
    width: 150px;
    height: 100px;
}
div#show-tag-container {
    background-image: url("https://i.imgur.com/FHLEo23.png");
    background-repeat: no-repeat;
    background-size: 300px;
    width: 300px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 142.875px;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out;
    max-width: 0;
}
div#show-tag-container.active {
    max-width: 300px;
}
#saved-image-container {
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
#saved-image-container .card {
    flex: 0 0 auto; 
    margin-top: -50px;
}
img.plant {
    display: block;
}
img.tag {
    position: absolute;
    bottom: 5px;
    margin-left: 20px;
    width: 50px;
    height: auto;
    z-index: 3;
}